body,html{
    height: 100%;
    margin: 0;
}

.background{
    background-image:url("png.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;

}
.ps{
    color:blue;
    font-size: 30px;
}
.centro
{
    display:flex;
    justify-content: center;
}
.playcentro
{
    display:flex;
    justify-content: center;
}
.controle{
    display:flex;
    justify-content: center;
}
.memorycard{
    display:flex;
    justify-content: center;
}
h1{
    color:white;
    font-size: 25px;
    box-align:center;
}
h2{
    color:white;
    font-size:25px;
    text-align:center;
    text-decoration: underline;
    text-decoration-color:blue;
}
h3{
    color: white;
    font-size: 25px;
    text-align: center;
text-decoration: underline;
text-decoration-color: blue;
}
p{
    color:white;
    font-size: 25px;
}
.título{
    font-size:50px;
    text-align:center;
    border: 5px solid whitesmoke;
    background-color:black;
    text-decoration:underline;
}
#triângulo{
    color: lightgreen;
}
#bolinha{
    color:lightcoral;
}
#quadrado{
    color: lightpink;
}
#X{
    color:lightblue;
}
#Y{
    color: yellow;
}
#B{
    color:red;
}
#A{
    color:green;
}
#outroX{
    color:blue;
}

ul{
    color:white;
    font-size: 20px;
    background-color:blue;
    border: 5px solid black;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
.plus{
    color:gold;
}
#pluss{
    color:gold;
}
#ouro{
    color:gold;
}
#prata{
    color:silver;
}
#bronze{
    color:brown;
}
#platina{
    color:lightskyblue;
}
#conquistas{
    color:green;
}
#playstation{
    color:blue;
}
ol{
    color:white;
    font-size: 20px;
    background-color:blue;
    border: 5px solid black;
}
table,td,th{
    border: 1px solid; color:white;
    border-collapse:collapse;
    padding:5px 10px;
}
td{
    background-color: green;
}
th{
    background-color:whitesmoke;
    color: blue;
}
*{font-family: Arial, Helvetica, sans-serif}
#vídeo{
    text-align: center;
    text-decoration-line:underline;
}
